<template>
    <div class="greeting">
        <h1>Обучающее задание для Vue</h1>
    </div>
</template>

<script>
    export default {

    }
</script>

<style scoped>
    .greeting {
        display: flex;
        justify-content: center;
    }
</style>
