<template>
  <div id="app">
    <greeting></greeting>
  </div>
</template>

<script>
import Greeting from './components/Greeting.vue'

export default {
  name: 'app',
  components: {
    Greeting
  }
}
</script>
